@model ProgramPlatform.ViewModels.RoleViewModel

@{
ViewData["Title"] = "Create Role";
var userRoles = ViewBag.UserRoles as List<string>;
var isCommtel = userRoles.Contains("Commtel") || userRoles.Contains("CommtelAdmin");
}

<head>
    <link rel="stylesheet" href="~/css/roles.css" />
</head>

<h2>Create Role</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="RoleName">Role Name</label>
        <input asp-for="RoleName" class="form-control input-short" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

    @if (isCommtel)
    {
    <div class="form-group">
        <label asp-for="UserType">User Type</label>
        <select asp-for="UserType" class="form-control dropdown-short">
            <option value="">Select User Type</option>
            @foreach (var userType in Enum.GetValues(typeof(ProgramPlatform.Enums.UserTypeEnum)))
            {
            <option value="@userType">@userType</option>
            }
        </select>
        <span asp-validation-for="UserType" class="text-danger"></span>
    </div>
    }

    <div class="form-group">
        <label asp-for="PullDeviceProgramming">Pull Device Programming</label>
        <select asp-for="PullDeviceProgramming" class="form-control dropdown-short">
            @foreach (var value in Enum.GetValues(typeof(ProgramPlatform.Enums.AccessLevelEnum)))
            {
            <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="PullDeviceProgramming" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>API Access</label>
        <div class="radio-group">
            <input type="radio" asp-for="ApiAccess" value="true" id="ApiAccess_True"/>
            <label for="ApiAccess_True">Yes</label>
            <input type="radio" asp-for="ApiAccess" value="false" id="ApiAccess_False"/>
            <label for="ApiAccess_False">No</label>
        </div>
        <span asp-validation-for="ApiAccess" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Dashboard Access</label>
        <div class="radio-group">
            <input type="radio" asp-for="DashboardAccess" value="true" id="DashboardAccess_True"/>
            <label for="DashboardAccess_True">Yes</label>
            <input type="radio" asp-for="DashboardAccess" value="false" id="DashboardAccess_False"/>
            <label for="DashboardAccess_False">No</label>
        </div>
        <span asp-validation-for="DashboardAccess" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Programming Rollback</label>
        <div class="radio-group">
            <input type="radio" asp-for="ProgrammingRollBack" value="true" id="ProgrammingRollBack_True"/>
            <label for="ProgrammingRollBack_True">Yes</label>
            <input type="radio" asp-for="ProgrammingRollBack" value="false" id="ProgrammingRollBack_False"/>
            <label for="ProgrammingRollBack_False">No</label>
        </div>
        <span asp-validation-for="DashboardAccess" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityLogPermissions">Activity Log Permissions</label>
        <select asp-for="ActivityLogPermissions" class="form-control dropdown-short">
            @foreach (var value in Enum.GetValues(typeof(ProgramPlatform.Enums.AccessLevelEnum)))
            {
            <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="ActivityLogPermissions" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CallPointPermissions"> Call point Permissions</label>
        <select asp-for="CallPointPermissions" class="form-control dropdown-short">
            @foreach (var value in Enum.GetValues(typeof(ProgramPlatform.Enums.AccessLevelEnum)))
            {
            <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="CallPointPermissions" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IncomingCallPermissions">Incoming call Permissions</label>
        <select asp-for="IncomingCallPermissions" class="form-control dropdown-short">
            @foreach (var value in Enum.GetValues(typeof(ProgramPlatform.Enums.AccessLevelEnum)))
            {
            <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="IncomingCallPermissions" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TimePeriodPermissions">Time Period Permissions</label>
        <select asp-for="TimePeriodPermissions" class="form-control dropdown-short">
            @foreach (var value in Enum.GetValues(typeof(ProgramPlatform.Enums.AccessLevelEnum)))
            {
            <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="TimePeriodPermissions" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RelayOpsPermissions">Relay Ops Permissions</label>
        <select asp-for="RelayOpsPermissions" class="form-control dropdown-short">
            @foreach (var value in Enum.GetValues(typeof(ProgramPlatform.Enums.AccessLevelEnum)))
            {
            <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="RelayOpsPermissions" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SmsCommandsPermissions">SMS Commands Permissions</label>
        <select asp-for="SmsCommandsPermissions" class="form-control dropdown-short">
            @foreach (var value in Enum.GetValues(typeof(ProgramPlatform.Enums.AccessLevelEnum)))
            {
            <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="SmsCommandsPermissions" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AlertPermissions">Alert Permissions</label>
        <select asp-for="AlertPermissions" class="form-control dropdown-short">
            @foreach (var value in Enum.GetValues(typeof(ProgramPlatform.Enums.AccessLevelEnum)))
            {
            <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="AlertPermissions" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PanelSettingsPermissions">Panel Settings Permissions</label>
        <select asp-for="PanelSettingsPermissions" class="form-control dropdown-short">
            @foreach (var value in Enum.GetValues(typeof(ProgramPlatform.Enums.AccessLevelEnum)))
            {
            <option value="@value">@value</option>
            }
        </select>
        <span asp-validation-for="PanelSettingsPermissions" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="IsArchived" value="false" />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
